*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
    letter-spacing: 0;
    line-height: normal;
}

.headerMainCon{
    width: 100%;
    display: flex;
    align-items:center;
    height: 70px;
    padding-left: 5%;
    background: #FAFAFA;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.headerMainCon img{
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.HomePageMainCon{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6%;
    align-items: center;
}

.headerMainCon span{
    color: #202020;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;

  white-space: nowrap;
}

.HomePageTopCon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomePageBottomCon{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.HomePageSideImgs{
    width: 30%;
    height: 267px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(233, 226, 255, 0.30) 0%, rgba(245, 241, 255, 0.30) 70.5%, rgba(255, 255, 255, 0.30) 100%);
}

.HomePageTopMiddleCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.logoImagebox {
    height: 124px;
    width: 124px;
    border-radius: 50%;
    background-color: #F5F1FF;
    box-shadow: 0px 4px 20px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:6%;
}

.logoImage{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.pageText{
    color: #303030;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputFileButton{
    background: #C5B8EC;
    padding: 16px;
    margin-bottom:5%;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-left: 20px;
    padding-right: 20px;

    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    margin-top: 4%;
}

.inputFileButton svg{
    width: 36px;
    height: 36px;
}

.replaceText{
    margin-left: 4px;
    margin-right: 14px;
    color: #5D5E88;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

.dragAndDropText{
    color: #9294C6;
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.HomePageBottomCon p {
    color: #000;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    
}

.HomePageBottomHeading{
    border-bottom: 2px solid #000;
}

.informationCardsCon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap:5%;
    margin-top: 2%;
}

.informationCard{
    padding: 2%;
    border-radius:10px;
    box-shadow: 0px 4px 20px #0000001a;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.informationCard h2{
    text-align: left;
    color: #5C43A2;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 500;
    margin-bottom:11px;
}

.informationCard p{
    text-align: left;
    color: #202020;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.react-pdf__Page{
    height: 223px;
    width:220px; 
    border: 1px solid #000000;
}

.pdfPageCard{
    margin: 1%;
    padding: 8px;
    border: 1px solid #9294C6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 239px;
    height: 273px;
    flex-shrink: 0;
}


.pdfPageCard img{
    border: 0.5px solid #000;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    width: 223px;
    height: 220px;
    flex-shrink: 0;
}

.pdfPageCardTextCon{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top:8px;
    width: 100%;
}

.pdfPageCardTextCon p{
    font-size: 15px;
    color: #72738A;
 }

 .pdfPageCardsCon{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap:auto;
 }

 .checkBox{
    height: 24px;
    width:24px;
    accent-color: violet;
    margin-bottom:-24px;
    position: relative;
    top:7px;
    z-index: 1;
    margin-left: 5px;
    align-self: flex-start;
 }

 .downloadBtnsCon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
 }

 .downloadBtn{
    border: 1px solid #9A81E2;
    padding:5px;
    border-radius: 30px;
    gap:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9A81E2;
    background-color: white;
    cursor: pointer;
 }

 .downloadAllBtn{
    background-color: #9A81E2;
    border: none;
    color: white;
    cursor: pointer;
 }

 .downloadIconCon{
    background-color: #9A81E2;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 }

 .downloadAllIconCon{
    background-color: white;
 }

 .pdfPageHeader{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}

.newFileCon{
    display: flex;
    justify-content: center;
    align-items:center;
}

.successfullyText{
    color: #0066DA;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.successfullyTextContant{
    color: #202020;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landingPageImg{
    width: 220px;
    height: 220px;
    flex-shrink: 0;
}

/* Popup */

.modalMainCon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-direction: column;
    padding-bottom: 3%;
}

.FormatBlockMainCon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.popupCross{
    align-self: flex-end;
    cursor: pointer;
}

.radioInputsHoldingCon{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 28px;
}

.dataFormatRdioInput{
    width: 36px;
    height: 36px;
    accent-color: violet;
    cursor: pointer;
}



.radioInputContant{
    color: #202020;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 19px;
}

.innerDownloadButton{
    border-radius: 10px;
    background: #9A81E2;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-top:22px;
    cursor: pointer;
}


.formatBtn{
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 30px;
    background: #F3EEFF;

    color: #5C43A2;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.selectedFormatBtn{
    border-radius: 30px;
    border: 1px solid #5C43A2;
    background: #5C43A2;
    box-shadow: 0px 4px 20px 0px #C9B4FC;

    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.displayingPagesCon{
    display: flex;
    justify-content: flex-start;
    align-items: flex;
    width: 95%;
    margin-top: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 4%;
    scroll-behavior: smooth;
}

.displayingPagesCon::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .displayingPagesCon {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.eachPageCon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    max-width: 153px !important;
}

.eachPageImgCon{
    width: 100%;
    height: 220px;
    flex-shrink: 0;
    border: 0.5px solid #000;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.eachPageBottomCon{
    display: flex;
    justify-content: space-between;
    align-items: flex;
    width: 100%;
    margin-top: 8px;
}

.eachPageBottomCon span{
    color: #72738A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
}

.eachPageBottomRightSideCon{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    gap: 5px;
}

.renameBtn{
    color: #72738A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.editAndRemoveIconBtns{
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.editAndRemoveIconBtns svg{
    width: 14px;
    height: 14px;
    pointer-events: none;
}

.arrowIconsCon{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    gap: 18px;
    margin-top: 3%;
}

.arrowIconsCon button{
    cursor: pointer;
    width: 29px;
    height: 29px;
    border:none;
    background-color:transparent;
}

.arrowIconsCon button svg{
    width: 29px;
    height: 29px;
    pointer-events: none;
}

.arrowIconsCon button,
.renameBtn,
.editAndRemoveIconBtns,
.innerDownloadButton:focus,
.dataFormatRdioInput:focus{
    outline: none;
}
